<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ seo_description }}">
        <meta name="google-site-verification" content="hUdQI8_27hfNzSiq4Nssk7leYnQ3hzLYwp438hWDIIM" />

        {% if open_graph_image %}
        <meta property="og:url" content="{{ this_url() }}" />
        <meta property="og:description" content="{{ seo_description }}" />
        <meta property="og:image" content="{{ root_url() }}{{ open_graph_image }}" />
        <meta property="og:title" content="{{ format_title(title) }}" />
        <meta property="og:type" content="website" />
        {% endif %}

        <title>{{ format_title(title) }}</title>

        {% assets "js_base" %}
        <script defer type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% assets "css_base" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
    </head>

    <body>
        <div>
            <!-- Welcome dear traveler, to the source of this blog...
                 What you are looking for here, my mind inquires,
                 but for you to continue, my heart desires... -->

            <span class="main_header">{{ header or title }}</span>

            {% if sub_header %}
            {# A two line header-sub-header. #}
            <br><span class="sub_header">{{ sub_header }}</span>
            {% endif %}

            {% if return_to_root %}
            <br><a class="sub_header" href="/">Return to root</a>
            {% endif %}
        </div>
        <hr>

        {% block content %}
        {% endblock %}

        <footer class="paper_background" id="perspective_selector">
            <label>Perspective:
                <select id="background_select">
                    {% for background_file in background_image_files() %}
                    <option value="{{ background_file }}">{{ file_name_to_display_name(background_file) }}</option>
                    {% endfor %}
                </select>
            </label>

            <label>Writing:
                <select id="font_select">
                    <option value="jmh_typewriter_regular">Typewriter</option>
                    <option value="Source Code Pro">Source Code Pro</option>
                    <option value="sans-serif">Sans-Serif</option>
                    <option value="serif">Times New Roman</option>
                </select>
            </label>
        </footer>
    </body>
</html>
