{% extends "base.html" %}

{% block content %}
<div>
    <p>
        <span class="main_header">{{ blog_post.name }}</span>
        <a class="sub_header" href="/">Return to root</a>
    </p>

    <ul>
        <li>Posted on {{ blog_post.formatted_timestamp }}</li>

        {% if blog_post.tags %}
        <li>
            Tagged with
            {% for tag in blog_post.tags %}
            <a href="{{ url_for('home.route_tag', tag_id=tag.id, name=tag.name) }}">{{ tag.name }}</a>{{ ", " if not loop.last }}
            {% endfor %}
        </li>
        {% endif %}

        <li>Written by {% set author = blog_post.author %} {% include "author_link.html" %}</li>
        <li>Viewed {{ blog_post.hits }} {{ "time" if blog_post.hits == 1 else "times" }}</li>
    </ul>

    <div>
        {{ blog_post_content | safe }}
    </div>
</div>
{% endblock %}
