{% extends "base.html" %}

{% block content %}
<div>
    <ul class="paper_background" id="post_metadata_list">
        <li>Posted on {{ blog_post.formatted_timestamp }}</li>

        {% if blog_post.tags %}
        <li>
            Tagged with
            {% for tag in blog_post.tags %}
            <a href="{{ url_for('home.route_tag', tag_id=tag.id, _name=tag.name) }}">{{ tag.name }}</a>{{ ", " if not loop.last }}
            {% endfor %}
        </li>
        {% endif %}

        <li>Written by {% set author = blog_post.author %} {% include "author_link.html" %}</li>
        <li>Viewed {{ blog_post.hits }} {{ "time" if blog_post.hits == 1 else "times" }}</li>
    </ul>

    <hr>
    <div>
        {{ blog_post_content | safe }}
    </div>

    {% if blog_post.comments %}
    <hr>
    <div>
        <span class="sub_header">Comments:</span><br>
        {% for comment in blog_post.comments %}
        <div class="paper_background">
            <span title="User Identity: {{ comment.tag }}">From: {{ comment.pseudonym }}</span>
            <div>
                {{ comment.comment }}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if blog_post.allow_comments %}
    <hr>
    <div>
        <form method=post>
            <table>
                <tbody>
                    <tr>
                        <td>{{ form.pseudonym.label }}</td>
                        <td>{{ form.pseudonym() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.comment.label }}</td>
                        <td>{{ form.comment() }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{ form.submit() }}</td>
                    </tr>
                </tbody>
            </table>
            {{ form.hidden_tag() }}
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
