{% extends "base.html" %}

{% block content %}
<div>
    {# Left Block #}
    <div class="inline_block">
        <div>
            <span class="sub_header">What is this?</span><br>
            <ul>
                <li><p>
                    The Flesh-Network is my more or less personal page. It is not necessarily designed to hold
                    any form of readable content, and rather serves as a repository for my own, and if circumstance
                    has it, other people's writings and thoughts. You may stick around, though, if you so desire.
                </p></li>
                <li><p>
                    Please be aware (and also respect) the immanently personal nature of this page.
                    These writings and these thoughts are in many ways those of learning, and in even more
                    places, those of early learning. Many posts are chaotic, disorganised, and arguably
                    pointless and / or senseless in their current form. Please do not force them to be more
                    than they are. Please do not laugh at them. - Please do talk about them! Thank you.
                </p></li>
                <li>Explore the <a href="https://github.com/TeilzeitTaco/flesh-network-blog">source code</a> of this page.</li>
                <li>Find out <a href="{{ url_for('home.route_backlinks') }}">what links here</a>.</li>
                <li>View the <a href="{{ url_for('home.route_files') }}">file index</a>.</li>
                <li>View the <a href="{{ url_for('home.route_posts') }}">post index</a>.</li>
            </ul>
        </div>

        {% if category_tags %}
        <div>
            <span class="sub_header">Categorized Writings:</span>
            <ul>
                {% for category_tag in category_tags %}
                <li>
                    <a href="{{ url_for('home.route_tag', tag_id=category_tag.id, _name=category_tag.slug) }}">{{ category_tag.name }}</a> - <span>{{ category_tag.short_description }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if blog_posts %}
        <div>
            <span class="sub_header">Recent Posts:</span>
            <ul>
                {% for blog_post in blog_posts %}
                {% include "post_link.html" %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    {# Right Block #}
    <div class="inline_block">
        {% if friends %}
        <div>
            <span class="sub_header">Friends of the Flesh-Network:</span>
            <ul>
                {% for friend in friends %}
                <li><a href="{{ friend.link }}" rel="noopener">{{ friend.name }}</a> - {{ friend.description }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div>
            <img src="{{ url_for('static', filename='images/wings.png') }}" alt=""><br>
            <i>The owl of Minerva spreads its wings only with the falling of dusk.</i>
        </div>
    </div>
</div>
{% endblock %}
