{% extends "base.html" %}

{% block content %}
<p>
    <span class="sub_header">What is this?</span><br>
    <ul>
        <li>The Flesh-Network is my small semi-personal page.</li>
        <li>Find out <a href="{{ url_for('home.route_backlinks') }}">what links here</a>.</li>
        <li>View the <a href="{{ url_for('home.route_files') }}">file index</a>.</li>
    </ul>
</p>

{% if friends %}
<p>
    <span class="sub_header">Friends of the Flesh-Network:</span>
    <ul>
        {% for friend in friends %}
        <li><a href="{{ friend.link }}">{{ friend.name }}</a> - {{ friend.description }}</li>
        {% endfor %}
    </ul>
</p>
{% endif %}

{% if blog_posts %}
<p>
    <span class="sub_header">Writings:</span>
    <ul>
        {% for blog_post in blog_posts %}
        {% include "post_link.html" %}
        {% endfor %}
    </ul>
</p>
{% endif %}
{% endblock %}
