<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{format_title(title)}}</title>

        {% assets "js_base" %}
        <script type="text/javascript" src="{{ASSET_URL}}"></script>
        {% endassets %}

        {% assets "css_base" %}
        <link rel="stylesheet" href="{{ASSET_URL}}">
        {% endassets %}
    </head>

    <body>
        <div>
            <h1>Welcome to the Flesh-Network.</h1>
            <h2>Because we are all connected.</h2>
        </div>
    </body>
</html>
