<p>
  Welcome to Fleischchan, a silly little Angular/Spring Boot powered image posting board.
</p>

<p>
  This is a flesh-based letter board. All messages you leave are retained in flesh, that is:
</p>

<ul>
  <li>Via the medium of fleshly memory.</li>
  <li>Via muscle memory.</li>
  <li>Via engraving and carving.</li>
  <li>Via spatial arrangement of meat.</li>
</ul>

<p>
  The following rules apply:
</p>

<ol>
  <li>Do not post or link to anything illegal under austrian, european, or international law.</li>
  <li>Do not mention the question of the flesh.</li>
  <li>Do not question the flesh.</li>
  <li>If you do question the flesh, please use mathematical notation.</li>
</ol>

<p>
  Feature notes:
</p>

<ul>
  <li>Bloated JavaScript</li>
  <li>Images of ???</li>
  <li><a href="https://github.com/KaTeX/KaTeX">KaTeX</a> support</li>
  <li><a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a> support</li>
</ul>
