.dead-center {
  position: absolute;

  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -30%);

  z-index: 200;
  background-color: mistyrose;
  border: black 3px double;
  text-align: center;
}

@keyframes blur-in {
  from {
    backdrop-filter: blur(0px);
  }

  to {
    backdrop-filter: blur(5px);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;

  animation: blur-in 100ms forwards;

  z-index: 100;
}

